<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/message/handle/">
    <table>
        <tr>
            <td>留言用户：</td><td><input type="text" name="username" style="width: 300px;"></td>
        </tr>
        <tr>
            <td>留言内容：</td><td><textarea name="contents" style="width: 300px;height: 200px;"></textarea></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="提交留言"></td>
        </tr>
    </table>
</form>
</body>
</html>